<mat-card-header>
  <mat-card-title>Nuevo Usuario</mat-card-title>
</mat-card-header>
<form class="example-form" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="register()">
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Usuario" type="text" formControlName="usuario">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" type="email" formControlName="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre" type="text" formControlName="nombre">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Apellido" type="text" formControlName="apellido">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Contraseña" type="password" formControlName="password">
    </mat-form-field>
  </mat-card-content>
  <button mat-stroked-button color="accent" type="submit" [disabled]="miFormulario.invalid"
    class="btn-block margin">Registrar</button>
</form>
<mat-card-footer fxLayout="column" fxLayoutGap="2px">
  <mat-label fxLayoutAlign="center"><a routerLink="/auth/login">Ir a Login</a></mat-label>
</mat-card-footer>